.sg {
  padding-top: 0;
}

.sg-header {
  position: sticky;
  top: 0;

  .sg-logo {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
  }

  nav {
    display: inline-block;

    a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.sg-section {

}

.sg-sidebar {
  top: 0;
  position: sticky;
  width: 150px;
}

.sg-main {

}
